@charset "utf-8";

footer {
	width: 100%;
	height: 372px;
	/*background-color: red;*/

}

footer .foot1 {
	width: 100%;
	height: 100px;
	background-color: #e5e5e5;
}

.foot1 .foote {
	width: 1060px;
	height: 100px;
	margin: 0 auto;
}

.foot1 .foot_nav {
	width: 210px;
	height: 100px;
	float: left;
	text-align: center;
}

.foot1 .footer_last {
	width: 234px;
}

.foot1 .foot_first {
	width: 194px;
	text-align: left;
}

.foot1 .foot_nav .foot_n {
	margin: 19px 0;
	height: 60px;
	border-right: 1px dashed #717171;
}

.foot_n span {
	font-size: 1.9em;
	display: inline-block;
	text-indent: 18px;
}

.foote .foot_nav .clear_right_border{
	border-right: none;
}

#footer_botton {
	width: 1060px;
	height: 273px;
	margin: 0 auto;
}

footer .foot2 {
	width: 1060px;
	height: 196px;
	margin: 0 auto;
	border-bottom: 1px solid #717171;
}

.foot2 .footer_m {
	width: 152px;
	height: 196px;
 	float: left;
}

.footer_m strong,.footer_l strong {
	padding: 20px 0 2px 0;
	display: block;
	font-weight: bold;
}

.footer_m a {
	display: block;
	padding: 2px;
}

.footer_m a:hover,.foot3 a:hover {
	color: red;
}

.foot2 .footer_l {
	width: 148px;
	height: 196px;
	float: left;
}

.foot2 .footer_l  img{
	padding-top: 2px;
}

footer .foot3 {
	width: 1060px;
	height: 76px;
	text-align: center;
	margin: 0 auto;
}

.foot3 ul {
	padding: 18px 0 9px 0;
	text-align: center;
}

.foot3 li {
	display: table-cell;
	padding: 0 15px;
	/*margin: 18px 15px 9px 15px;*/
	border-left: 1px dashed #717171;
}

.foot3 li:first-child {
	border: none;
	padding-left: 0;
	text-indent: 213px;
}


.foot3 .brand {
	text-align: center;
}
/*.foot3 strong {
	text-align: center;
	margin:auto;
}*/